.DS_Store
.idea
.vscode
cmake-*
ImportExecutables-*.cmake
/out*
dist
dist-*
toolchains
filament/docs/html/**
civetweb.txt
/TAGS
settings.json
*tmp*.png
test*.png
test*.json
results
/compile_commands.json
/.cache
